.my_bg_2 {
  background-image: url("https://static.vecteezy.com/ti/vettori-gratis/p1/2309794-sfondo-bianco-geometrico-gratuito-vettoriale.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 80vh;
}

.my_bg_2 .square {
  height: 270px;
  width: 320px;
}

